* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image:linear-gradient( url("https://images.unsplash.com/photo-1507963901243-ebfaecd5f2f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3004&q=80"));
  background-color: aqua;
}
h1{
  font-size: 100px;
  font-style:oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}
h4{
  font-size:50px;
  font-family:  Cambria, Cochin, Georgia, 'Times New Roman';
  text-align: center;
}
.container {
  background-color: #ffffff;
  width: 76vw;
  max-width: 50em;
  padding: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 6em;
  box-shadow: 0 1.25em 1.8em rgba(49, 50, 55, 0.25);
}
.search-wrapper {
  display:grid;
  grid-template-columns: 3fr;
  gap: 2em ;
}
.search-wrapper button {
  font-size: 1em;
  background-color: lightseagreen;
  color: #ffffff;
  padding: 0 .6em ;
  border:0cm
  
}
.search-wrapper input {
  font-size: 1em;
  padding:  0.6em;
  border: #222a43;
  border-bottom: 1px solid lightseagreen;
  outline: none;
  color: #222a43;
}
#result {
  margin-top: 1 em;
}


.data-wrapper {
  margin-bottom: 2em;
  letter-spacing: 0.36px;
}
